<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        <div class="container">
            <!-- jumbotron -->
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <a class="button" href="/scrape">Scrape New Data</a>
            </div>

            <!-- mars news -->
            <div class="container">
                <h3>Latest Mars News</h3>
                <h5>{{mars_record.news_title}}</h5>
                <p>{{mars_record.news_paragraph}}</p>
            </div>

            <!-- featured image url -->

            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-8">
                        <h3>Featured Mars Image</h3>
                        <img src="{{ mars_record.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                    </div>
                    <div class="col-6 col-md-4">
                        <h3>Mars Facts</h3>
                        <div>{{ mars_record.mars_facts |safe}}</div>
                    </div>
                </div>
            </div>
            
            <!-- hemispheres -->
  
            <div class="container">
                <div class="row">
                    <div class="col-sm">col-sm</div>
                    <div class="col-sm">col-sm</div>
                </div>
                <div class="row">
                    <div class="col-sm">col-sm</div>
                    <div class="col-sm">col-sm</div>
                </div>

            </div>   
                

        </div>
            
        
        <a href="/scrape">Scrape Now!</a>

        <li>{{ mars_record["news_title"] }}</li>

        <!-- bootstrap CDN -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
